*{
	margin : 0 ;
	padding : 0 ;
}

body{
	background-color : #cf0a2c!important ;
}

header{
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 999;
}


/* NAVBAR */
#container {
	margin: 0;
	max-width: 980px;
}

.toggle,.toggle-btn,.searchbar,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav {
	margin:0;
	padding:0;
	display:flex;
	background-color: white;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

nav:after {
	content:"";
	display:block;
	clear:both;
}
nav ul {
	display: block;
	padding-top:25px;
	list-style: none;
	position: relative;
	}

nav ul li {
	margin: 0;
	display:inline-block;
	background-color: white;
	}


nav a {
	display:block;
	padding:14px 20px;
	color:black;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover
{
	background-color: white;
	text-decoration:none;
}

nav a:hover {
	color: #666;
	text-decoration:none;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute;
	width: auto;
	border-top: 3px solid red;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:flex;
	flex-direction: column;
	background-color:white;
	border-top: 3px solid #cf0a2c;
}

nav ul li ul li:hover > a {
	color:#666;
	opacity: 0.7;
	background-color: rgba(0, 0, 0, 0.03);
}

/*Dropdown */
nav ul ul li {
	width:200px;
	float:none;
	display:list-item;
	position: relative;
}

.search {
	display: block;
	position: relative;
}

.search-input::placeholder {
  color: black;
}

.search-input {
  border:none;
  position: relative;
  visibility: hidden;
  background: transparent;
	border-bottom: 2px solid #cf0a2c;
  color: black;
  font-size:16px;
  outline: none;
}

.search-button {
  background:transparent;
  color: black;
  cursor: pointer;
  font-size: 14px;
  padding-top: 4px;
}

.search-button:hover + .search-input, .search-input:hover, .search:hover .search-input {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 9 !important;
  height: 25px !important;
}

.txt-mob
{
	display:none;
}




/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries */

@media all and (max-width : 980px) {
	.mob
	{
		display:flex;
		align-items: baseline;
		justify-content: space-between;
		background-color: white;
	}

	#logo {
		display: block;
		padding: 0;
		width: 50%;
		float: none;
	}

	nav {
		margin: 0px;
		display:block;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle-btn+a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		color:#cf0a2c;
		border-top: 1px solid rgba(0, 0, 0, 0.03);
		background-color: white;
		padding:14px 20px;
		color:black;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle-btn:hover {
		color: gray;
		opacity: 0.7;
		background-color: rgba(0, 0, 0, 0.03);
	}

	.toggle-btn
	{
		display: block;
		background-color: white;
		padding:14px 20px;
		color:black;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 0px;
	}

	nav a:hover,
 	nav ul ul ul a {
		opacity: 0.7;
		background-color: rgba(0, 0, 0, 0.03);
	}

	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;
		color:black;
		font-size:17px;
	}


	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: white;
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: black;
		/* has to be the same number as the "line-height" of "nav a" */
	}

	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}

	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
	}

	.txt-mob
	{
	display:inherit;
	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}















.container-fluid{
	display: flex;
	justify-content: flex-end;
	background-color : #cf0a2c ;

}

.container-fluid a {
	color : white!important ;
	padding : 5px ;
	margin : 0 auto ;
	 width : 1000px ;

}

/* ul li { */
	/* list-style : none ; */
	/* display : inline-block ;  */
	/* float : right ;  */
/* } */

/* ul li a { */
	/* padding : 5px ;  */
	/* color : white ;  */

/* } */



.title{
		position : relative ;
	/* height : 500px ;  */
	font-weight : bold ;
	width : 100% ;
	/* padding : 80px ;    */
	text-align : center;
	padding-top : 20px ;
	padding-bottom  : 20px ;
	color : red ;
	/* display  :grid ;  */
	justify-content: space-around;
	/* text-transform : uppercase ;  */
	/* font-weight : bold ;  */
}

.wrapper{
	position : relative ;
	/* height : 500px ;  */
	font-weight : bold ;
	width : 100% ;
	/* padding : 80px ;    */
	text-align : center;
	/* padding-top : 20px ;  */
	/* padding-bottom  : 20px ;  */
	color : #222224 ;
	/* display  :grid ;  */
	justify-content: space-around;
	/* text-transform : uppercase ;  */
	/* font-weight : bold ;  */
}








/* RENTREE */

.rentree-content{
	display : flex ;
}

.leftR-content {
	/* background-color : #E3A707; 	 */
	background-image: url("../images/YellowLogo.png");
	width : 100% ;
	padding : 20px 85px 20px 85px ;
	min-height: 500px ;
	background-size: cover;
}

.leftR-content #title h1{
	text-transform: uppercase;
	color : white ;
	font-size : 60px ;
	font-weight : 700px  ;

}

.leftR-content #text-content{
	font-size : 20px ;
	margin : auto ;
}

.rightR-content img {
	width : 100% ;
    height:100%;
}


.btn {
	background-color : transparent;
	color : white!important ;
	text-transform: uppercase;
	border-radius : 80px!important	;
	font-size : 30px ;
	text-align : center ;
	border : 2px solid white!important ;
	text-decoration : none ;
	margin-top : 10px ;
	margin-bottom : 10px ;

}
.btn a {
	text-decoration : none ;
	padding  :5px ;

}


/*FLECHE LIEN HOVER*/
#linkfd{
	opacity: 1;
	z-index: 1;
}

#linkfa{
	opacity: 0;
	position: absolute;
	z-index: 2;
}

#linkfa:hover{
	opacity: 1;
}
#linkfa:hover + #linkfd{
	opacity: 0;
}

.arrow {
  border: solid ;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* CANDIDATURE  */
.candidature-content,
.actualite-content {
	background-color: white ;
	padding : 60px ;
}
.candidature-content .wrapper h2,
.title-actualite h2{
	color : #747d88 !important;
}

.wrapper p{
	padding : 30px ;
}

.btn-candidature,
.btn-actu{
	background-color : transparent;
	color : #E3A707!important ;
	text-transform: uppercase;
	border-radius : 80px!important	;
	font-size : 20px ;
	text-align : center ;
	border : 2px solid #E3A707!important ;
	text-decoration : none ;
	text-decoration : none ;
	padding  :5px ;
}

/* DIPLOME */

.diplomes-content,
.counter-content{
	background-color : #E3A707 ;
	/* color : red ;  */
	padding : 50px ;

}

.diplomes-content ul ,
.counter-content ul ,
.actu-section{
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	justify-content : space-around;
	padding : 20px 70px 20px 70px ;
/* color : white ;  */
}

.diplomes-content ul li,
.counter-content ul li{
	padding : 2rem ;
	width : 25% ;
	 /* border : 5px solid white ;	 */
	text-align : center ;
}

.diplomes-content ul li i {
	color : white ;
	font-size : 50px ;

}

.title-diplome{
	padding : 10px ;
	color : white ;
	font-size : 22px ;
	font-weight : bold ;
}


.diplomes-content  h2,
.counter-content h2{
	color : white !important;
}
/* icon */

.icon{
	display: inline-block;
	box-sizing: border-box;
	font-family: "ETmodules";
	font-size: 60px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	text-transform: none;
	content: attr(data-icon);
}



/* ACTUALITE */

.actu-section{
	display: flex;
  justify-content: space-between;
  	justify-content : space-around;
	/* padding : 20px 80px 20px 80px ; */

}
.actu-border{
	border: 1px solid #d8d8d8;
	padding : 20px;
}
.second-actu{
	 border: 1px solid #d8d8d8;
}
.actu{
	/* border: 1px solid #d8d8d8; */
  width: 33,33%;
  margin: 23px;
  /* padding : 20px;  */
}

.actu-element{
	padding : 20px;
}

.title-actu{
	border-left: 4px solid #CF0A2C;
	padding-left: 12px;
	/* line-height: 1.5em; */
	margin-bottom: 20px;
	font-weight : bold ;
	font-size : 100%;

}

.title-actu a {
	color : #555;

}
.title-actu a:hover  {
	color : #CF0A2C;

}
.actualite-content .actu-section .actu a {
	text-decoration : none ;

}
.lire-plus{
	color : #CF0A2C;
}
.lire-plus:hover {
	color : #CF0A2C;
	font-weight : bold ;
}

.actu-section p {
	color : #666 ;
}
/* COUNTER */

.counter-content ul {
	display: flex;
  justify-content: space-between;
  	justify-content : space-around;
	padding : 20px 80px 20px 80px ;
}

.counter-content h1 {
	text-transform : uppercase ;
	text-align : center ;
	font-size : 20px ;

	color : #353740 ;
}

.counter-content h1,
.counter {
	margin-top : 5px  ;
	margin-bottom : 5px  ;
	font-weight : bold ;
}

.counter {
  width: 1em;
  height: 2em;
  /* overflow: hidden; */
  line-height: 1em;
  /* display: inline-block; */
  font-size : 50px  ;
  color :white ;
}
span {
  position: relative;
}

/* FOOTER */

footer{
	 color : white ;
	padding : 60px ;
}

.footer-content{
	display : flex ;
	flex-flow: row wrap;
	justify-content: space-between;
  	justify-content : space-around;
	/* padding : 20px  ; */
}

.footer{
	 padding-left : 50px  ;
}

.footer-middle ul li a,
.diplomes-content ul li a{
	color : white ;
	text-decoration: none;
}

/* TEXT-DECORATION  */

.footer-middle ul li,
.counter-content ul li,
.diplomes-content ul li {
	/* text-decoration : none ;  */
	list-style-type: none;
}

/* RESPONSIVE */

 @media only screen and (max-width : 994px ){
	body{
	 background-image: none;
	 color : #666;
}
	.red-bar-content,
	.rightR-content{
		display : none ;
	}
	.leftR-content {
		/* background-color : #E3A707; 	 */
		width : 100% ;
		background-image : none ;
	}

	.title-candidature h2,
	.title-diplome h2,
	.title-actualite h2,
	.title-counter h2,
	.leftR-content #title h1{
		color : #555 ;
		font-size : 30px ;
		font-weight : 900px  ;
		font-weight : bold ;
		text-transform : none;
	}
	.btn {
		color : #cf0a2c!important ;
		border-radius : 3px!important	;
		font-size : 20px ;
		border : 2px solid #cf0a2c!important ;

	}
	.btn:hover {
		border : 2px solid transparent!important ;
		background-color: rgba(0, 0, 0, 0.05);

	}
	.diplomes-content,
	.counter-content{
		background-color : white ;
	}
	.diplomes-content ul ,
	.counter-content ul ,
	.actu-section{
		display: flex;
		flex-wrap: wrap;
		padding : 20px 30px 20px 30px ;
	}
	.diplomes-content ul li,
	.counter-content ul li{
		width : 50% ;
	}
	.actu{
		width : 42% ;
	}
	.diplomes-content ul li span {
		color : #cf0a2c ;
		font-size : 96px ;

	}
	.title-diplome{
		padding : 10px ;
		color : white ;
		font-size : 22px ;
		font-weight : bold ;
	}
	.diplomes-content p ,
	.title-diplome,
	.diplomes-content  h2,
	.counter-content h2{
		color : #666!important;
	}
	/* .counter-content h1 { */
		/* text-transform : none  ; */
	/* } */


	.counter {
	  color : #cf0a2c;
	  /* font-size : 25px  ;  */
	}
}
  @media only screen and (max-width : 771px ){
	.actu{
		width : 60% ;
	}
	  }
	  @media only screen and (max-width : 600px ){

	 .diplomes-content ul li,
	.counter-content ul li{
		width : 75% ;
	}
	.diplomes-content ul ,
	.counter-content ul ,
	.actu-section{
		display: flex;
		flex-wrap: wrap;
		padding : 0px ;
	}
	.actu{
		width : 100% ;

	}
  }
